.eyes {
    position: absolute;
    text-align: center;
}

.eye {
    border: 3px solid #000000;
    background-image: url('../project2/images/eyes.png') no-repeat;
    width: 146px;
    height: 112px;
}

.ball1 {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ball2 {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}