.ball1 {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ball2 {
    width: 20px;
    height: 20px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}